#footer{
    background-color:#f9f9f9;
}
span.svg{
    display:inline-block;
    background:url(../image/mall_footer/icon01.svg) no-repeat;
    width:40px;
    height:40px;
    margin-right:15px;
    vertical-align:middle;
    margin-right:20px;
}
#s1{
    background-position:-74px 0;
}
#s2{
    background-position:-114px 0;
}
#s3{
    background-position:-154px 0;
}
#s4{
    background-position:-194px 0;
}
span.slogan{
    color:#3a3a3a;
    font-size:18px;
    font-weight:bold;
}
span.slogan:hover{
    text-decoration:none;
}
/* 中间样式 */
#line{
    border-right:1px solid #ddd;
}
#footer_center1>li>a,#footer_center2>li>a,#footer_center3>li>a,#footer_center4>li>a,#footer_center5>li>a,#footer_center6>li>a{
    color:#666;
    font-size:14px;
    font-weight:bold;
}

/* #footer_center1>li>a,#footer_center2>li>a,#footer_center3>li>a,#footer_center4>li>a,#footer_center5>li>a,#footer_center6>li>a:hover{
    color:#ca141d;
    text-decoration:none;
} */
#line{
    border-right:1px solid #ddd;
}
#online_server{
    display:block;
    width:170px;
    height:34px;
    margin:0  auto;
    font-size:14px;
    color:#fff;
    line-height:34px;
    background-color:#333;
    border-radius:17px;
    text-align:center;
}
#online_server:hover{
    text-decoration: none;
}

a.focus{
    display:inline-block;
    margin-left:20px;
    transform:scale(1.5,1.5);
    color:#000;
}
#footer_bottom>a>img{
    width:82px;
    height:25px;
    vertical-align:top;
}
ul.breadcrumb{
    background-color:#f9f9f9;
}
.breadcrumb-item+.breadcrumb-item:before{
    content:"|";
}
ul.breadcrumb>li>a{
    color:#333;
    font-size:12px;
   
}
ul.breadcrumb>li>a:hover{
    text-decoration:none;
}
li.breadcrumb-item{
    margin-top:-5px;
}
a.last{
    text-decoration:none;
    color:#333;
    font-size:10px;
}
a.last:hover{
    color:#ca141d;
}
span.text-muted{
    font-size:10px;
}
img.promise{
    width:70px;
    height:24px;
    margin-left:45px;
}
div.contaniner:after{
    content:"";
    display:block;
    clear:both;
}